{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row mt-4">
        <div class="col-12">
            <h1>Bills</h1>
        </div>

        {% for bill in bills %}
        {{ include('bill/_bill.html.twig') }}
        {% else %}
        <div class="col-12">
        <p>Ooops.. there is no bill yet :)</p>
        </div>
        {% endfor %}
</div>

{% endblock %}